* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .calculator-grid {
      display: grid;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      min-height: 100vh;
      grid-template-columns: repeat(4, 100px);
      grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  body {
    padding: 0px;
    margin: 0px;
    background: darkcyan
  }
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid cyan;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
  }

  .calculator-grid > button:hover {
    background-color: darkcyan;      
  }

  .span-two {
    grid-column: span 2;
    /* border-radius: 25px; */
  }
  .output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }